body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: serif;
  font-size: 60x;
}

center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
