body{
	background-image: url("img/blue.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center; 
	background-attachment: fixed; 

}
   image{
        width:auto
        margin:auto
      }